[submodule "secrets"]
	path = secrets
	url = https://github.com/Zergie/secrets.git
[submodule "key-jump-browser-extension"]
	path = key-jump-browser-extension
	url = https://github.com/rocom-service/key-jump-browser-extension.git
[submodule "Fusion360/AddIns/CounterboreBridging"]
	path = Fusion360/AddIns/CounterboreBridging
	url = https://github.com/Finn2708/CounterboreBridging.git
[submodule "Fusion360/AddIns/NoComponentWarn"]
	path = Fusion360/AddIns/NoComponentWarn
	url = https://github.com/thomasa88/NoComponentWarn.git
[submodule "Fusion360/AddIns/ThreadKeeper"]
	path = Fusion360/AddIns/ThreadKeeper
	url = https://github.com/thomasa88/ThreadKeeper.git
