# Snippets for Visual Basic for Application
# Authored by Wolfgang Puchinger <wpuchinger@rocom-service.de>

# vba If .. Then
snippet if
	If ${1:Condition} Then
		${2:Actions}
	End If

# vba If .. Then .. Else
snippet ife
	If ${1:Condition} Then
		${2:Action}
	Else
		${3:ActionElse}
	End If
	
